{{define "mempool"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "Decred Mempool"}}
    {{template "navbar" . }}
    {{with .Mempool}}
        <div class="bg-white block-banner">
            <div class="container px-0">
                <div class="h3 text-blueish pt-4 pb-2">Mempool</div>
                <div class="row"
                data-controller="mempool time"
                data-target="mempool.mempool"
                {{template "mempoolDump" .}}
                >
                    <div class="d-inline-block text-center text-md-left text-lg-center text-xl-left pl-2 pr-4">
                        <span class="text-secondary fs13">Total sent</span>
                        <br>
                        <span class="h4" data-target="mempool.likelyTotal">{{threeSigFigs .LikelyMineable.Total}}</span> <span class="text-secondary">DCR</span>
                    </div>
                    <div class="d-inline-block text-center text-md-left text-lg-center text-xl-left px-4">
                        <span class="text-secondary fs13">Total size</span>
                        <br>
                        <span class="h4" data-target="mempool.mempoolSize">{{.LikelyMineable.FormattedSize}}</span>
                    </div>
                    <div class="d-inline-block text-center text-md-left text-lg-center text-xl-left px-4">
                        <span class="text-secondary fs13" data-target="time.header" data-jstitle="Since Last Block">Last Block</span>
                        <br>
                        <span class="h4" data-target="mempool.bestBlockTime time.age" data-age="{{.LastBlockTime}}"><span class="fs13">{{.FormattedBlockTime}}</span></span>
                    </div>
                    <div class="d-inline-block text-center text-md-left text-lg-center text-xl-left pl-4">
                        <span class="text-secondary fs13">Last Block</span>
                        <br>
                        <span class="h4"><a href="/block/{{.LastBlockHeight}}" data-target="mempool.bestBlock" data-hash="{{.LastBlockHash}}" data-keynav-priority>{{.LastBlockHeight}}</a></span>
                    </div>
                </div>
                <div class="mt-4">
                    {{$tally := .VotingInfo.VoteTallys}}
                    <a class="d-inline-block position-relative mr-4 py-2 unstyled-link" href="/blocks">
                        <span class="px-3 unstyled-link">
                            All
                            <span class="mem-count">
                                {{add (int64 .NumRegular) (int64 .NumTickets) (int64 .NumVotes) (int64 .NumRevokes)}}
                            </span>
                        </span>
                        <div class="blocks-selector active"></div>
                    </a>
                    <a class="d-inline-block position-relative mr-4 py-2 unstyled-link" href="/ticketpricewindows">
                        <span class="px-3 text-secondary">
                            Regular
                            <span class="mem-count">{{.NumRegular}}</span>
                        </span>
                        <div class="blocks-selector"></div>
                    </a>
                    <a class="d-inline-block position-relative mr-4 py-2 unstyled-link" href="/years">
                        <span class="px-3 text-secondary">
                            Tickets
                            <span class="mem-count">{{.NumTickets}}</span>
                        </span>
                        <div class="blocks-selector"></div>
                    </a>
                    <a class="d-inline-block position-relative mr-4 py-2 unstyled-link" href="/months">
                        <span class="px-3 text-secondary">
                            Votes
                            <span class="mem-count">{{.NumVotes}}</span>
                        </span>
                        <div class="blocks-selector"></div>
                    </a>
                    <a class="d-inline-block position-relative mr-4 py-2 unstyled-link" href="/weeks">
                        <span class="px-3 text-secondary">
                            Revocations
                            <span class="mem-count">{{.NumRevokes}}</span>
                        </span>
                        <div class="blocks-selector"></div>
                    </a>
                </div>
            </div>
        </div>
            <div class="container main"
            data-controller="mempool time"
            data-target="mempool.mempool"
            {{template "mempoolDump" .}}
            >
                <div>
                    <div class="row">
                        <div class="col-sm-24">
                        <h4 class="pt-3 pb-2"><span>Votes</span></h4>

                            <table class="table">
                                <thead>
                                    <th>Transaction ID</th>
                                    <th>Voting On</th>
                                    <th class="text-right"><div class="inline-block position-relative"><span class="d-none d-sm-inline">Validator ID</span><span class="d-inline d-sm-none" data-tooltip="Validator ID">VID</span></div></th>
                                    <th class="text-right"><div class="inline-block position-relative"><span class="d-none d-sm-inline">Vote Version</span><span class="d-inline d-sm-none" data-tooltip="Vote Version">Ver</span></div></th>
                                    <th class="text-right d-none d-sm-table-cell">Total DCR</th>
                                    <th class="text-right">Size</th>
                                    <th class="text-right d-none d-sm-table-cell jsonly">Time in Mempool</th>
                                </thead>
                                <tbody data-target="mempool.voteTransactions">
                                    {{if gt .NumVotes 0}}
                                    {{range .Votes}}
                                    <tr {{if not .VoteInfo.ForLastBlock}}class="disabled-row"{{end}}
                                    data-blockhash="{{.VoteInfo.Validation.Hash}}"
                                    data-height="{{.VoteInfo.Validation.Height}}"
                                    data-ticket-index="{{.VoteInfo.MempoolTicketIndex}}"
                                    >
                                        <td class="break-word clipboard">
                                            <a class="hash lh1rem" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                            {{template "copyTextIcon"}}
                                        </td>
                                        <td class="mono fs15"><a href="/block/{{.VoteInfo.Validation.Hash}}">{{.VoteInfo.Validation.Height}}<span
                                            class="small">{{if .VoteInfo.ForLastBlock}} (best){{end}}</span></a></td>
                                        <td class="mono fs15 text-right"><a href="/tx/{{.VoteInfo.TicketSpent}}">{{.VoteInfo.MempoolTicketIndex}}</a></td>
                                        <td class="mono fs15 text-right">{{.VoteInfo.Version}}</td>
                                        <td class="mono fs15 text-right d-none d-sm-table-cell">
                                            {{template "decimalParts" (float64AsDecimalParts .TotalOut 8 false)}}
                                        </td>
                                        <td class="mono fs15 text-right">{{.Size}} B</td>
                                        <td class="mono fs15 text-right d-none d-sm-table-cell jsonly" data-target="time.age" data-age="{{.Time}}"></td>
                                    </tr>
                                    {{end}}
                                    {{else}}
                                        <tr>
                                            <td colspan="8">No votes in mempool.</td>
                                        </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-24">
                        <h4 class="pt-4 pb-2"><span>Tickets</span></h4>
                            <table class="table">
                                <thead>
                                    <th>Transaction ID</th>
                                    <th class="text-right">Total DCR</th>
                                    <th class="text-right">Size</th>
                                    <th class="text-right">Time in Mempool</th>
                                </thead>
                                <tbody data-target="mempool.ticketTransactions">
                                    {{if gt .NumTickets 0}}
                                    {{range .Tickets}}
                                    <tr>
                                        <td class="break-word clipboard">
                                            <a class="hash lh1rem" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                            {{template "copyTextIcon"}}
                                        </td>
                                        <td class="mono fs15 text-right">
                                            {{template "decimalParts" (float64AsDecimalParts .TotalOut 8 false)}}
                                        </td>
                                        <td class="mono fs15 text-right">{{.Size}} B</td>
                                        <td class="mono fs15 text-right" data-target="time.age" data-age="{{.Time}}"></td>
                                    </tr>
                                    {{end}}
                                    {{else}}
                                    <tr class="no-tx-tr">
                                        <td colspan="4">No tickets in mempool.</td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-24">
                        <h4 class="pt-5 pb-2"><span>Revokes</span></h4>
                            <table class="table">
                                <thead>
                                    <th>Transaction ID</th>
                                    <th class="text-right">Total DCR</th>
                                    <th class="text-right">Size</th>
                                    <th class="text-right">Time in Mempool</th>
                                </thead>
                                <tbody data-target="mempool.revocationTransactions">
                                    {{if gt .NumRevokes 0}}
                                    {{range .Revocations}}
                                    <tr>
                                        <td class="break-word clipboard">
                                            <a class="hash lh1rem" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                            {{template "copyTextIcon"}}
                                        </td>
                                        <td class="mono fs15 text-right">
                                            {{template "decimalParts" (float64AsDecimalParts .TotalOut 8 false)}}
                                        </td>
                                        <td class="mono fs15 text-right">{{.Size}} B</td>
                                        <td class="mono fs15 text-right" data-target="time.age" data-age="{{.Time}}"></td>
                                    </tr>
                                    {{end}}
                                    {{else}}
                                        <tr class="no-tx-tr">
                                            <td colspan="4">No revokes in mempool.</td>
                                        </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-24">
                        <h4 class="pt-5 pb-2"><span>Transactions</span></h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>Transaction ID</th>
                                    <th class="text-right">Total DCR</th>
                                    <th class="text-right">Size</th>
                                    <th class="text-right">Time in Mempool</th>
                                    </tr>
                                </thead>
                                <tbody data-target="mempool.regularTransactions">
                                    {{if gt .NumRegular 0}}
                                    {{range .Transactions}}
                                    <tr>
                                        <td class="break-word clipboard">
                                            <a class="hash lh1rem" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                            {{template "copyTextIcon"}}
                                        </td>
                                        <td class="mono fs15 text-right">
                                            {{template "decimalParts" (float64AsDecimalParts .TotalOut 8 false)}}
                                        </td>
                                        <td class="mono fs15 text-right">{{.Size}} B</td>
                                        <td class="mono fs15 text-right" data-target="time.age" data-age="{{.Time}}"></td>
                                    </tr>
                                    {{end}}
                                    {{else}}
                                    <tr class="no-tx-tr">
                                        <td colspan="4">No regular transactions in mempool.</td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
        {{end}}
        {{ template "footer" . }}
    </body>
</html>
{{end}}
